In [2]:
import pandas as pd
import numpy as np
from scipy.stats import f

In [6]:
class Anova:

    def __init__ (self):
        self.f_stats = None
        self.p_value =None

    def fit(self, data, value_col, group_col):
        self.data = data
        self.value_col = value_col
        self.group_col = group_col

        groups = data[group_col].unique()
        group_means = []
        group_sizes = []
        grand_mean = data[value_col].mean()

        ssw = 0
        for g in groups:
            group_data = data[data[group_col] == g][value_col]
            m = group_data.mean()
            n = len(group_data)
            ssw = ssw + ((group_data - m)**2).sum()

            group_means.append(m)
            group_sizes.append(n)

        sst = 0
        group_data = data[value_col]
        sst = ((group_data - grand_mean)**2).sum()

        ssb = sst - ssw

        dfb = len(groups) - 1
        dfw = len(data) - len(groups)

        msb = ssb / dfb
        msw = ssw / dfw

        self.f_stats = msb / msw
        self.p_value = 1 - f.cdf(self.f_stats, dfb, dfw)

        print('F-Value: ', self.f_stats)
        print('P-Value: ', self.p_value)

    def predict(self):
        if self.p_value < 0.05:
            print("Reject the null hypothesis: At least one group mean is different.")
        else:
            print("Fail to reject the null hypothesis: No significant difference between group means.")

In [11]:
data = pd.DataFrame({
    'Method': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C'],
    'Score': [82, 85, 88, 78, 79, 80, 90, 92, 94]
})

print(data)

  Method  Score
0      A     82
1      A     85
2      A     88
3      B     78
4      B     79
5      B     80
6      C     90
7      C     92
8      C     94

In [9]:
model = Anova()

In [7]:
model.fit(data, 'Score', 'Method')
print(model.predict())

NameError: name 'model' is not defined

In [3]:
df = pd.read_excel(r"C:\Users\saqli\Desktop\FULL DataSet.xlsx")

In [10]:
model.fit(df, 'delta_E', 'Days')

F-Value:  91.51287860203452
P-Value:  3.4416913763379853e-15

In [12]:
model.fit(df,'TSS', 'Days')

F-Value:  25.36571516022681
P-Value:  2.267131382627241e-08

In [16]:
model.fit(df, 'Firmness', 'Days')

F-Value:  34.497184395764926
P-Value:  7.49452722104138e-10

In [4]:
df.head()

,Alginate,Guargum,Pectin,Days,Weight_loss,Firmness,TSS,pH,L*,a*,b*,delta_E,TPC,DPPH
0,0.0,0.0,0.0,0,0.00000,721.00,7.90,4.12,19.62,9.51,21.46,0.000000,510.83,67.76
1,0.0,0.0,0.0,2,18.19776,468.69,4.76,4.11,15.48,6.85,18.87,6.508748,716.88,123.20
2,3.0,0.0,0.0,2,18.43008,500.96,4.85,4.07,16.47,7.51,19.52,4.172649,498.13,120.10
3,0.0,3.0,0.0,2,18.33792,513.90,4.80,4.08,15.93,6.98,19.46,5.339110,436.88,161.50
4,0.0,0.0,3.0,2,18.47232,591.24,5.04,4.11,17.41,8.42,19.81,2.965586,413.13,162.30